.titulos {
    text-align: center;
    font-size: 17px;
    font-weight: bold;
}

.informacion {
    font-size: 17px;
    font-weight: normal;

}

.contenedor {
    width: 80%;
    margin: 20px 10px 15px 10px;

    justify-content: center;
}

.tabla {
    display: flex;
    justify-content: center;

}