<div class="w-full h-full grow bg-white-600 p-6">
  <div class="container mx-auto">
    <h1 class="text-xl text-gray-700 font-semibold italic mb-5">Lista de Resultados</h1>
    <div class="tabla">
        <div class="contenedor">
          <div *ngFor="let resultado of resultados">
            <span class="titulos">Nombre del alumno: <span class="informacion"> {{resultado.nombre_alumno}} </span> </span><br>
            <span class="titulos">Edad: <span class="informacion"> {{resultado.edad}} años</span> </span><br>
            <span class="titulos">Nroº de documento: <span class="informacion"> {{resultado.nro_documento}} </span> </span><br>
            <span class="titulos">
              Indicador general: <span class="informacion">{{resultado.indicador}}</span>
            </span><br>
            <span class="titulos">
              Observación general: <span class="informacion"> {{resultado.observacion}} </span>
            </span><br><br>
            <span class="titulos">Perfil detallado</span> <br> <br>
            <table class="table table-striped">
              <thead class="bg-white border-b">
                
                <tr class="bg-white border-b">
                  <th scope="col" class="text-left">Área</th>
                  <th scope="col" class="text-left">Puntaje obtenido</th>
                  <th scope="col" class="text-left">Puntaje minimo esperado</th>
                  <th scope="col" class="text-left">Puntaje óptimo</th>
                  <th scope="col" class="text-left">Indicador </th>
                  <th scope="col" class="text-center">Observación</th>
                </tr>
              </thead>
              <tbody>
                <tr class="bg-gray-100 border-b">
                  <td class="text-sm font-semibold text-gray-900 px-6 py-4 text-left">Formar palabras</td>
                  <td class="text-sm font-semibold text-gray-900 px-6 py-4 text-left"> {{ resultado.fp_pobtenido}} </td>
                  <td class="text-sm font-semibold text-gray-900 px-6 py-4 text-left">{{resultado.fp_pminimo}}</td>
                  <td class="text-sm font-semibold text-gray-900 px-6 py-4 text-left">{{resultado.fp_pesperado}}</td>
                  <td class="text-sm font-semibold text-gray-900 px-6 py-4 text-left"> {{ resultado.fp_indicador }}</td>
                  <td class="text-sm font-semibold text-gray-900 px-6 py-4 text-left"> {{ resultado.fp_observacion }} </td>
                </tr>
      
                <tr class="bg-white-100 border-b">
                  <td class="text-sm font-semibold text-gray-900 px-6 py-4 text-left"> Discriminación Visual encerrar palabras</td>
                  <td class="text-sm font-semibold text-gray-900 px-6 py-4 text-left"> {{ resultado.dva_pobtenido}} </td>
                  <td class="text-sm font-semibold text-gray-900 px-6 py-4 text-left">{{resultado.dva_pminimo}}</td>
                  <td class="text-sm font-semibold text-gray-900 px-6 py-4 text-left">{{resultado.dva_pesperado}}</td>
                  <td class="text-sm font-semibold text-gray-900 px-6 py-4 text-left"> {{ resultado.dva_indicador }}</td>
                  <td class="text-sm font-semibold text-gray-900 px-6 py-4 text-left"> {{ resultado.dva_observacion }} </td>
                </tr>
      
                <tr class="bg-gray-100 border-b">
                  <td class="text-sm font-semibold text-gray-900 px-6 py-4 text-left"> Discriminación de palabras </td>
                  <td class="text-sm font-semibold text-gray-900 px-6 py-4 text-left"> {{ resultado.dp_pobtenido}} </td>
                  <td class="text-sm font-semibold text-gray-900 px-6 py-4 text-left">{{resultado.dp_pminimo}}</td>
                  <td class="text-sm font-semibold text-gray-900 px-6 py-4 text-left">{{resultado.dp_pesperado}}</td>
                  <td class="text-sm font-semibold text-gray-900 px-6 py-4 text-left"> {{ resultado.dp_indicador }}</td>
                  <td class="text-sm font-semibold text-gray-900 px-6 py-4 text-left"> {{ resultado.dp_observacion }} </td>
                  
                </tr>
      
                <tr class="bg-white-100 border-b">
                  <td class="text-sm font-semibold text-gray-900 px-6 py-4 text-left"> Encontrar letras en palabras </td>
                  <td class="text-sm font-semibold text-gray-900 px-6 py-4 text-left"> {{ resultado.elp_pobtenido}} </td>
                  <td class="text-sm font-semibold text-gray-900 px-6 py-4 text-left">{{resultado.elp_pminimo}}</td>
                  <td class="text-sm font-semibold text-gray-900 px-6 py-4 text-left">{{resultado.elp_pesperado}}</td>
                  <td class="text-sm font-semibold text-gray-900 px-6 py-4 text-left"> {{ resultado.elp_indicador }}</td>
                  <td class="text-sm font-semibold text-gray-900 px-6 py-4 text-left"> {{ resultado.elp_observacion }} </td>
                </tr>
      
                <tr class="bg-gray-100 border-b">
                  <td class="text-sm font-semibold text-gray-900 px-6 py-4 text-left"> Nombre correcto de una imagen </td>
                  <td class="text-sm font-semibold text-gray-900 px-6 py-4 text-left"> {{ resultado.nc_pobtenido}} </td>
                  <td class="text-sm font-semibold text-gray-900 px-6 py-4 text-left">{{resultado.nc_pminimo}}</td>
                  <td class="text-sm font-semibold text-gray-900 px-6 py-4 text-left">{{resultado.nc_pesperado}}</td>
                  <td class="text-sm font-semibold text-gray-900 px-6 py-4 text-left"> {{ resultado.nc_indicador }}</td>
                  <td class="text-sm font-semibold text-gray-900 px-6 py-4 text-left"> {{ resultado.nc_observacion }} </td>
                </tr>
      
                <tr class="bg-white-100 border-b">
                  <td class="text-sm font-semibold text-gray-900 px-6 py-4 text-left"> Letras desordenadas </td>
                  <td class="text-sm font-semibold text-gray-900 px-6 py-4 text-left"> {{ resultado.ld_pobtenido}} </td>
                  <td class="text-sm font-semibold text-gray-900 px-6 py-4 text-left">{{resultado.ld_pminimo}}</td>
                  <td class="text-sm font-semibold text-gray-900 px-6 py-4 text-left">{{resultado.ld_pesperado}}</td>
                  <td class="text-sm font-semibold text-gray-900 px-6 py-4 text-left"> {{ resultado.ld_indicador }}</td>
                  <td class="text-sm font-semibold text-gray-900 px-6 py-4 text-left"> {{ resultado.ld_observacion }} </td>
                </tr>

                <tr class="bg-gray-100 border-b">
                    <td class="text-sm font-semibold text-gray-900 px-6 py-4 text-left"> Discriminación Visual contar palabras </td>
                    <td class="text-sm font-semibold text-gray-900 px-6 py-4 text-left"> {{ resultado.dvb_pobtenido}} </td>
                    <td class="text-sm font-semibold text-gray-900 px-6 py-4 text-left">{{resultado.dvb_pminimo}}</td>
                    <td class="text-sm font-semibold text-gray-900 px-6 py-4 text-left">{{resultado.dvb_pesperado}}</td>
                    <td class="text-sm font-semibold text-gray-900 px-6 py-4 text-left"> {{ resultado.dvb_indicador }}</td>
                    <td class="text-sm font-semibold text-gray-900 px-6 py-4 text-left"> {{ resultado.dvb_observacion }} </td>
                </tr>

                
                <tr class="bg-white-100 border-b">
                    <td class="text-sm font-semibold text-gray-900 px-6 py-4 text-left"> Conciencia Silábica </td>
                    <td class="text-sm font-semibold text-gray-900 px-6 py-4 text-left"> {{ resultado.cs_pobtenido}} </td>
                    <td class="text-sm font-semibold text-gray-900 px-6 py-4 text-left">{{resultado.cs_pminimo}}</td>
                    <td class="text-sm font-semibold text-gray-900 px-6 py-4 text-left">{{resultado.cs_pesperado}}</td>
                    <td class="text-sm font-semibold text-gray-900 px-6 py-4 text-left"> {{ resultado.cs_indicador }}</td>
                    <td class="text-sm font-semibold text-gray-900 px-6 py-4 text-left"> {{ resultado.cs_observacion }} </td>
                </tr>
                
                <tr class="bg-gray-100 border-b"> 
                    <td class="text-sm font-semibold text-gray-900 px-6 py-4 text-left"> Conciencia Fonológica </td>
                    <td class="text-sm font-semibold text-gray-900 px-6 py-4 text-left"> {{ resultado.cf_pobtenido}} </td>
                    <td class="text-sm font-semibold text-gray-900 px-6 py-4 text-left">{{resultado.cf_pminimo}}</td>
                    <td class="text-sm font-semibold text-gray-900 px-6 py-4 text-left">{{resultado.cf_pesperado}}</td>
                    <td class="text-sm font-semibold text-gray-900 px-6 py-4 text-left"> {{ resultado.cf_indicador }}</td>
                    <td class="text-sm font-semibold text-gray-900 px-6 py-4 text-left"> {{ resultado.cf_observacion }} </td>
                </tr>

                <tr class="bg-white-100 border-b">
                    <td class="text-sm font-semibold text-gray-900 px-6 py-4 text-left"> Derecha e Izquierda </td>
                    <td class="text-sm font-semibold text-gray-900 px-6 py-4 text-left"> {{ resultado.di_pobtenido}} </td>
                    <td class="text-sm font-semibold text-gray-900 px-6 py-4 text-left">{{resultado.di_pminimo}}</td>
                    <td class="text-sm font-semibold text-gray-900 px-6 py-4 text-left">{{resultado.di_pesperado}}</td>
                    <td class="text-sm font-semibold text-gray-900 px-6 py-4 text-left"> {{ resultado.di_indicador }}</td>
                    <td class="text-sm font-semibold text-gray-900 px-6 py-4 text-left"> {{ resultado.di_observacion }} </td>
                </tr>
      
              </tbody>
            </table>
          </div>
        </div>
      </div>
  </div>
</div>