.contenedor {
    width: 100%; /* Asegura que el contenedor ocupe todo el ancho disponible */
    margin: 20px auto;
    justify-content: center;
    margin-bottom: 60px;
}

.espaciador {
    height: 40px; /* Ajusta la altura según el espacio que necesites */
}

.titulos {
    text-align: left;
    font-size: 17px;
    font-weight: bold;
    margin-bottom: 10px;
}

.informacion {
    font-size: 17px;
    font-weight: normal;
    margin-bottom: 20px;
}

.table {
    width: 100%; /* Asegura que la tabla ocupe todo el ancho disponible */
    border-collapse: collapse;
    margin: 20px 0;
    font-size: 14px;
    text-align: left;
}

.table th, .table td {
    padding: 12px 15px;
    border: 1px solid #ddd;
}

.table th {
    background-color: #4CAF50;
    color: white;
    text-transform: uppercase;
    letter-spacing: 0.1rem;
}

.table tbody tr:nth-child(even) {
    background-color: #f3f3f3;
}

.table tbody tr:nth-child(odd) {
    background-color: #ffffff;
}

.table tbody tr:hover {
    background-color: #f1f1f1;
}

.table td {
    font-weight: 500;
    color: #333;
}

.table th, .table td {
    text-align: left;
}

.table .text-center {
    text-align: center;
}

.table .text-right {
    text-align: right;
}

.details-button {
    background-color: transparent;
    border: none;
    cursor: pointer;
    color: #007bff;
  }
  
  .details-button:hover {
    color: #0056b3;
  }
  
  .details-button mat-icon {
    font-size: 24px;
  }

  .resultado-info .fila {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .tiempo-total {
    margin-left: auto;
    white-space: nowrap;
  }

  .generar-reporte-btn {
    background-color: #4caf50;
    color: black;
    font-size: 1.0rem; 
    padding: 05px 20px; 
    border-radius: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: transform 0.2s;
    margin-block-end: 20px;
    margin-left: auto;
  }

  .generar-reporte-btn:hover {
    transform: scale(1.1);
    background-color: #43a047;
    color: white;
  }
  
  .filtro-container {
    display: flex;
    align-items: center;
    gap: 16px;
    flex-wrap: wrap; 
  }

  .filtro-nombre {
    max-width: 440px;
    margin-block-end: 20px;
    flex: 1;
  }

  .limpiar-filtros-btn {
    color: black;
    font-size: 1.0rem; 
    padding: 5px 20px; 
    border-radius: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: transform 0.2s;
    margin-block-end: 20px;
    margin-left: auto;
  }
  
  .limpiar-filtros-btn:hover {
    transform: scale(1.1);
    background-color: #d32f2f; /* Un tono más oscuro al pasar el mouse */
    color: white;
  }