<h1 mat-dialog-title style="display: block; justify-content: space-between; align-items: center;">
  {{ tituloAccion }} Alumno
  <div *ngIf="tituloAccion === 'Nuevo'" style="display: flex; gap: 10px;">
  </div>
</h1>
<div mat-dialog-content class="mat-form-fiel-registrar-alumno">
  <form [formGroup]="formAlumno">
    <mat-grid-list cols="1" rowHeight="80px">
      <mat-grid-tile>
        <mat-form-field appearance="fill" style="width: 100%">
          <mat-label>Nombres</mat-label>
          <input matInput formControlName="nombre" autocomplete="off" />
        </mat-form-field>
      </mat-grid-tile>

      <mat-grid-tile>
        <mat-form-field appearance="fill" style="width: 100%">
          <mat-label>Apellidos</mat-label>
          <input matInput formControlName="apellido" autocomplete="off" />
        </mat-form-field>
      </mat-grid-tile>

      <mat-grid-tile>
        <mat-form-field appearance="fill" style="width: 100%">
          <mat-label>Fecha Nacimiento</mat-label>
          <input
            matInput
            [matDatepicker]="picker"
            formControlName="fechaNacimiento"
          />
          <mat-datepicker-toggle
            matSuffix
            [for]="picker"
          ></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>
      </mat-grid-tile>

      <mat-grid-tile>
        <mat-label>Sexo</mat-label>
        <mat-radio-group
          formControlName="sexo"
          class="sexo-radio-group"
          color="primary"
        >
          <mat-radio-button value="M">Masculino</mat-radio-button>
          <mat-radio-button value="F">Femenino</mat-radio-button>
        </mat-radio-group>
      </mat-grid-tile>

      <mat-grid-tile>
        <mat-form-field appearance="fill" style="width: 100%">
          <mat-label>Teléfono</mat-label>
          <input matInput formControlName="telefono" autocomplete="off" />
        </mat-form-field>
      </mat-grid-tile>

      <mat-grid-tile>
        <mat-form-field appearance="fill" style="width: 100%">
          <mat-label>Dirección</mat-label>
          <input matInput formControlName="direccion" autocomplete="off" />
        </mat-form-field>
      </mat-grid-tile>

      <mat-grid-tile>
        <mat-form-field appearance="fill" style="width: 100%">
          <mat-label>N° Documento</mat-label>
          <input matInput formControlName="nroDocumento" autocomplete="off" />
        </mat-form-field>
      </mat-grid-tile>

      <mat-grid-tile>
        <mat-form-field appearance="fill" style="width: 100%">
          <mat-label>Grado</mat-label>
          <mat-select formControlName="gradoId">
            <mat-option *ngFor="let grado of grados" [value]="grado.id">
              {{ grado.nombre }}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </mat-grid-tile>
      

      <mat-grid-tile>
        <mat-form-field appearance="fill" style="width: 100%">
          <mat-label>Año</mat-label>
          <input matInput formControlName="año" autocomplete="off" />
        </mat-form-field>
      </mat-grid-tile>

      <mat-grid-tile>
        <mat-form-field appearance="fill" style="width: 100%">
          <mat-label>Institución</mat-label>
          <mat-select formControlName="institucionId">
            <mat-option *ngFor="let institucion of instituciones" [value]="institucion.id">
              {{ institucion.nombre }}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </mat-grid-tile>
    
    
    </mat-grid-list>
   </form>

  <div mat-dialog-actions>
    <button mat-raised-button mat-dialog-close class="volver-btn">
      Volver
    </button>
    <button
      mat-raised-button
      class="guardar-btn"
      (click)="agregarEditarAlumno()"
      [disabled]="formAlumno.invalid"
    >
      {{ botonAccion }}
    </button>
  </div>
</div>


