<ng-container>
 <nav class="bg-sky-700 border-gray-200 px-6 shadow-md">
  <div class="flex flex-wrap justify-between items-center">
    <div class="flex items-center">
      <a >
        <img
          loading="lazy"
          class="w-40 mr-8"
          src="/assets/images/logo/logo_dislex_test_blanco.png"
          alt="logo"
        />
      </a>
      <div class="flex items-center">
        <ul class="flex items-center space-x-2 text-sm font-medium">
          <li>
            <a routerLink="/app/alumnos" class="block py-3 px-4 text-white">Lista de Alumnos</a>
          </li>
        </ul>
      </div>

      <!--<div class="flex items-center">
        <ul class="flex items-center space-x-2 text-sm font-medium">
          <li>
            <a routerLink="/app/test" class="block py-3 px-4 text-white">Test</a>
          </li>
        </ul>
      </div>-->

      <div class="flex items-center">
        <ul class="flex items-center space-x-2 text-sm font-medium">
          <li>
            <a routerLink="/app/resultados" class="block py-3 px-4 text-white">Resultado Test</a>
          </li>
        </ul>
      </div>

    </div>
    
    <div class="flex items-center">
      <div class="flex space-x-2">
        <button
          type="button"
          class="flex rounded-full"
          aria-expanded="false"
          (click)="isOpenOverlayAvatar = !isOpenOverlayAvatar"
          cdkOverlayOrigin
          #menuOverlay="cdkOverlayOrigin"
        >
          <img
            class="w-8 h-8 rounded-full"
            [src]="avatarUrl"
            alt="user photo"
          />
        </button>
      </div>
    </div>
    
  </div>
</nav>

<ng-template
  cdkConnectedOverlay
  [cdkConnectedOverlayOrigin]="menuOverlay"
  [cdkConnectedOverlayOpen]="isOpenOverlayAvatar"
  (overlayOutsideClick)="isOpenOverlayAvatar = !isOpenOverlayAvatar"
>
  <div
    class="z-50 my-4 w-60 text-base list-none bg-white rounded divide-y divide-gray-100 shadow"
  >
    <div class="py-2 px-4 text-center relative">
      <span class="block text-normal text-gray-900">Cuenta</span>
      <button
        (click)="isOpenOverlayAvatar = !isOpenOverlayAvatar"
        class="block text-sm text-gray-900 absolute right-3 top-3"
      >
        <fa-icon [icon]="faClose"></fa-icon>
      </button>
    </div>
    
    <div class="flex items-center">
      <div class="flex space-x-2">
        <button
          type="button"
          class="flex rounded-full"
          aria-expanded="false"
          (click)="isOpenOverlayAvatar = !isOpenOverlayAvatar"
          cdkOverlayOrigin
          #menuOverlay="cdkOverlayOrigin"
        >
          <img
            class="w-8 h-8 rounded-full"
            [src]="avatarUrl" 
            alt="user photo"
          />
        </button>
        <div class="space-y-1">
          <div class="text-sm text-gray-500">{{ userName }}</div>
          <div class="text-sm text-gray-500">{{ userEmail}}</div>
        </div>
      
      </div>
      
    </div>

   
    <ul class="py-1">
      <button 
        (click)="openPerfilModal()"
        class="block w-full text-left py-2 px-4 text-sm text-gray-700 hover:bg-gray-100 dark:hover:bg-gray-300"
      >Perfil</button>
   </ul>

  <ul class="py-1">
    <li>
      <button 
      class="block w-full text-left py-2 px-4 text-sm text-gray-700 hover:bg-gray-100 dark:hover:bg-gray-300"
      (click)="logout()" >Cerrar sesión</button>
    </li>
  </ul>

  </div>
 </ng-template>
</ng-container>
