mat-dialog-container {
    background-color: #1e1e1e;
    border-radius: 20px;
    padding: 40px; /* Aumenta el padding para un espacio más cómodo */
    max-width: 800px; /* Incrementa el ancho máximo del modal */
    min-width: 600px; /* Incrementa el ancho mínimo del modal */
    max-height: 90vh; /* Limita la altura para que no sobrepase la pantalla */
  }
  
  .bienvenida-titulo {
    font-size: 3rem; /* Título más grande */
    text-align: center;
    color: #ffeb3b;
    text-shadow: 2px 2px #000;
    margin-bottom: 20px; /* Espacio adicional debajo del título */
  }
  
  .bienvenida-contenido {
    text-align: center;
    font-size: 1.4rem; /* Aumenta el tamaño de la fuente del contenido */
    margin: 30px 0;
    color: #ffffff;
    background-color: #673ab7;
    padding: 30px; /* Aumenta el padding del contenido */
    border-radius: 15px;
  }
  
  .bienvenida-acciones {
    margin-top: 30px; /* Espacio adicional encima de los botones */
  }
  
  .cancelar-btn {
    background-color: #f44336;
    color: white;
    border-radius: 20px;
    padding: 15px 25px; /* Botones más grandes */
    font-size: 1.2rem; /* Texto del botón más grande */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: transform 0.2s;
  }
  
  .cancelar-btn:hover {
    transform: scale(1.05);
    background-color: #e53935;
  }
  
  .play-btn {
    background-color: #4caf50;
    color: white;
    font-size: 1.5rem; /* Texto del botón más grande */
    padding: 15px 50px; /* Botones más grandes */
    border-radius: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: transform 0.2s;
  }
  
  .play-btn:hover {
    transform: scale(1.1);
    background-color: #43a047;
  }
  