<div class="w-full h-full grow bg-white-600 p-6">
  <div class="container mx-auto">
    <h1 class="text-xl text-gray-700 font-semibold italic mb-5">
      Lista de Alumnos Registrados
    </h1>

    <table
      class="w-full text-sm text-left text-gray-500"
      cdk-table
      [dataSource]="dataSource"
    >
      <tr
        cdk-header-row
        class="text-xs text-gray-700 bg-gray-50"
        *cdkHeaderRowDef="columns"
      ></tr>
      <tr
        cdk-row
        class="bg-white border-b"
        [ngClass]="{ 'bg-red-200': row.price < 100 }"
        *cdkRowDef="let row; columns: columns"
      ></tr>

      <!-- Id Column -->
      <ng-container cdkColumnDef="id">
        <th
          cdk-header-cell
          class="text-sm font-medium text-gray-900 px-6 py-4 text-left"
          *cdkHeaderCellDef
        >
          N°
        </th>
        <td
          cdk-cell
          class="text-sm font-medium text-gray-900 px-6 py-4 text-left"
          *cdkCellDef="let row"
        >
          {{ row.id }}
        </td>
      </ng-container>

      <!-- Name Column -->
      <ng-container cdkColumnDef="nombrealumno">
        <th
          cdk-header-cell
          class="text-sm font-medium text-gray-900 px-6 py-4 text-left"
          *cdkHeaderCellDef
        >
          Nombre
        </th>
        <td
          cdk-cell
          class="text-sm font-medium text-gray-900 px-6 py-4 text-left"
          *cdkCellDef="let row"
        >
          {{ row.nombrealumno }}
        </td>
      </ng-container>

      <!-- Edad Column -->
      <ng-container cdkColumnDef="edad">
        <th
          cdk-header-cell
          class="text-sm font-medium text-gray-900 px-6 py-4 text-left"
          *cdkHeaderCellDef
        >
          Edad
        </th>
        <td
          cdk-cell
          class="text-sm font-medium text-gray-900 px-6 py-4 text-left"
          *cdkCellDef="let row"
        >
          {{ row.edad }}
        </td>
      </ng-container>

      <!-- Dirección Column -->
      <ng-container cdkColumnDef="direccion">
        <th
          cdk-header-cell
          class="text-sm font-medium text-gray-900 px-6 py-4 text-left"
          *cdkHeaderCellDef
        >
          Dirección
        </th>
        <td
          cdk-cell
          class="text-sm font-medium text-gray-900 px-6 py-4 text-left"
          *cdkCellDef="let row"
        >
          {{ row.direccion }}
        </td>
      </ng-container>

      <!-- Dirección Documento -->
      <ng-container cdkColumnDef="ci">
        <th
          cdk-header-cell
          class="text-sm font-medium text-gray-900 px-6 py-4 text-left"
          *cdkHeaderCellDef
        >
          Documento
        </th>
        <td
          cdk-cell
          class="text-sm font-medium text-gray-900 px-6 py-4 text-left"
          *cdkCellDef="let row"
        >
          {{ row.ci }}
        </td>
      </ng-container>

      <!-- Dirección Documento -->
      <ng-container>
        <th
          cdk-header-cell
          class="text-sm font-medium text-gray-900 px-6 py-4 text-left"
          *cdkHeaderCellDef
        >
          Acción
        </th>

        <td
          cdk-cell
          class="text-sm font-medium text-gray-900 px-6 py-4 text-left"
          *cdkCellDef="let row"
        >
          <a
            href="#"
            class="font-medium text-blue-600 dark:text-blue-500 hover:underline"
            >Edit</a
          >>
        </td>
      </ng-container>
    </table>
  </div>
</div>
