<h2 mat-dialog-title>Detalles del Ejercicio</h2>
<mat-dialog-content>
  <!-- Mostramos solo una vez el Tiempo Empleado agrupado -->
  <div style="margin-bottom: 20px;">
    <strong>Tiempo Empleado: </strong>{{ tiempoEmpleado }}
  </div>
  <table class="table" >
    <thead>
      <tr>
        <th>Respuesta Correcta</th>
        <th>Respuesta del Alumno</th>
        <th>Acierto</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let detalle of detallesEjercicio">
        <td>{{ detalle.respuestaCorrectaEjercicio }}</td>
        <td>{{ detalle.respuestaHechaAlumno }}</td>
        <td>
          <span [style.color]="detalle.acierto ? 'green' : 'red'">
            {{ detalle.acierto ? '✔️' : '❌' }}
          </span>
        </td>
      </tr>
    </tbody>
  </table>
</mat-dialog-content>
<mat-dialog-actions>
  <button mat-button class="cerrar-btn" (click)="onClose()">Cerrar</button>
</mat-dialog-actions>
