.correcto {
    color: green;
  }
  
  .incorrecto {
    color: red;
  }

.table {
  width: 100%;
  border-collapse: collapse;
}

.table th, .table td {
  padding: 8px 12px;
  border: 1px solid #ddd;
  text-align: left;
} 
 
 /* Estilos para el botón de Cerrar */
 .cerrar-btn {
  background-color: #f44336 !important; /* Rojo */
  color: #000;
  border-radius: 20px;
  padding: 12px 20px; /* Tamaño ajustado */
  font-size: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  transition: transform 0.2s;
}

.cerrar-btn:hover {
  transform: scale(1.05);
  background-color: #e53935;
  color: white;
}